# All the SQL Queries were executed using MySql

# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME.

Query: 

       select FIRST_NAME as WORKER_NAME
       from Worker;

# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Query:

        select distinct DEPARTMENT_ID
        from Worker;

# Q-3. Write an SQL query to show the last 5 record from a table.
Query :
    #treating table as "employee" table consisting of employee_id,name and salary
    
        select *
        from employee
        order by salary desc
        limit 5;