# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

       select e.first_name,e1.salary
       from employees e1
       where 5 - 1 =(select count(distinct(e2.salary) (note: # 5-1 : this will fetch the records present after 4 records)
                     from employees e2
                     where e2.salary > e1.salary);

# Q-20. Write an SQL query to fetch the list of employees with the same salary.

    select e.first_name,e.salary
    from employees e
    inner join
    employees m
    where e.salary = m.salary
    and e.first_name != m.first_name
    order by salary;